/* src/assets/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  display: block;
  background-color: var(--bgcolor);
}


.akaya {
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}


.light{
  --bgcolor: #f9fafb;
  --white: #ffffff;
  --primarytext: #111827;
  --primaryblue: #546FFF;
  --primaryhover: #6c7ee0;
  --paragraphtext:#8E92BC;
  --success:#659711;
  --successhover:#7FB519;
  --danger: #B71112;
  --dangerhover: #DB2719;
  --warning: #DBA32A;
  --warninghover: #FFC73A;
}