/* src/assets/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import 'swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--bgcolor);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  box-sizing: border-box;

}

.akaya {
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}

.light{
  --bgcolor: #f9fafb;
  --bggray:#e8ebf1;
  --white: #ffffff;
  --primarytext: #111827;
  --primaryblue: #546FFF;
  --primaryhover: #6c7ee0;
  --paragraphtext:#8E92BC;
  --darktext: #3f4146;
  --lighter-text:#adb1bb;
  --success:#659711;
  --successhover:#7FB519;
  --danger: #B71112;
  --dangerhover: #DB2719;
  --warning: #DBA32A;
  --warninghover: #FFC73A;
}


