/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.light{
  --bgcolor: #f9fafb;
  --white: #ffffff;
  --primarytext: #111827;
  --primaryblue: #546FFF;
  --primaryhover: #9F84FD;
  --paragraphtext:#8E92BC;
  --success:#659711;
  --successhover:#7FB519;
  --danger: #B71112;
  --dangerhover: #DB2719;
  --warning: #DBA32A;
  --warninghover: #FFC73A;
}